* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Droid Serif', serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem; /* =14px */
  height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
}

blockquote {
  margin: 0;
}
