.footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: 15px;
  text-align: center;

  @include desktop-breakpoint {
    flex-direction: row;
    justify-content: center;
  }
}

.footer__link {
  opacity: 0.5;
  color: $white;
  text-decoration: none;
  font-size: 1rem;

  &:hover {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-bottom: 10px;

    @include desktop-breakpoint {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}
