.button {
  margin-top: 30px;
  // stylelint-disable-next-line scss/no-global-function-names
  background: lighten($red, 5%);  // TODO: use adjust() instead of lighten
  border: 0;
  color: $white;
  padding: 15px 30px;
  font-size: 1.6rem;
  font-family: "Droid Serif", serif;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 5px $brown;
  cursor: pointer;

  @include desktop-breakpoint {
    font-size: 2rem;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background: $red;
  }
}
