.title {
  color: $white;
  font-size: 3rem;
  text-shadow: 0 0 5px $brown;
}

.subtitle {
  color: $white;
  font-size: 2rem;
  text-shadow: 0 0 5px $brown;
}

.text {
  color: $white;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.link {
  color: $red;
}
